/*
Here are some variable that need to be changes for each instances
 */
$instance-color: #b49f15;
$instance-light-color: lighten(#e4ce62, 40);

/*
Below are constant of Volontaria
 */

$main-font: 'Pacifico', cursive;
$main-color: #103b0f;
$light-color: #1D234466;
$warning: #C82333;
$background: #EFEFEF;
